@mixin border-radius($args...) {
  -webkit-border-radius: $args;
     -moz-border-radius: $args;
      -ms-border-radius: $args;
       -o-border-radius: $args;
          border-radius: $args;
}

.node {
  width: 10px;
  height: 10px;
  @include border-radius(5px);
  background-color: #899096;
  position: absolute;
  transition: all 0.25s;
  font-size: 10px;
  font-weight: bold;
  z-index: 4;

  &:hover {
    background-color: #515c73;
  }
}

.curNode {
  background-color: #ff5400;
}

.open {
  background-color: #e5ff00;
}

.changed {
  background-color: #ffd600;
}

.path {
  position: absolute;
  transform-origin: 0% 0%;
  transition: width 0.25s linear;
}

.route {
  background-color: #d2dbdc;
  height: 3px;
  z-index: 1;
}

.solution {
  background-color: #ff2d00;
  height: 2px;
  z-index: 3;
}

.possible {
  background-color: blue;
  height: 2px;
  z-index: 2;
}