@mixin border-radius($args...) {
  -webkit-border-radius: $args;
     -moz-border-radius: $args;
      -ms-border-radius: $args;
       -o-border-radius: $args;
          border-radius: $args;
}

.node {
  width: 20px;
  height: 20px;
  @include border-radius(10px);
  background-color: #899096;
  position: absolute;
  transition: all 0.25s;
  font-size: 10px;
  font-weight: bold;
  z-index: 3;

  &:hover {
    background-color: #515c73;
  }
}

.path {
  position: absolute;
  transform-origin: 0% 0%;
}

.route {
  background-color: #d2dbdc;
  height: 3px;
  z-index: 1;
}

.solution {
  background-color: #ff5400;
  height: 2px;
  z-index: 2;
}